<nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Telecom</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="viewplans">Prepaid</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="broadband">Broadband</a>
          </li>
          <li class="nav-item" *ngIf="isLogin">
            <a class="nav-link active" href="profile">My Account</a>
          </li>

          <li class="nav-item" *ngIf="!isLogin">
            <a class="nav-link active" href="signup">Sign Up</a>
          </li>

          <li class="nav-item" *ngIf="!isLogin">
            <a class="nav-link active" href="login">Login</a>
          </li>
          <li class="nav-item" *ngIf="isLogin">
            <a class="nav-link active" (click)="onLogout()" href="home" style="cursor: pointer;">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>